version: "3.8"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes: 
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml
      - ./token:/etc/prometheus/token:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - METRICS_TOKEN=${METRICS_TOKEN}
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
      - '--web.enable-lifecycle'
 
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
     - "3000:3000"
    depends_on:
      - prometheus